<div class="header">
  <h1>Chart Generator</h1>
</div>

<div class="chartPropertiesForm">
  <label for="chartType">Choose type of chart </label>
  <select name="chartType" id="chartType">
    <option value="bar">Bar chart</option>
    <option value="pie">Pie chart</option>
    <option value="line">Line chart</option>
  </select>

  <div>
    <h3>Add dataset</h3>
    <div>X axis labels: </div>
    <div>2019, 2020, 2021</div>
    <input type="text" placeholder="Enter X axis label">
    <button>Add</button>
    <button>Clear</button>
    <hr>
    <div>Enter data shown on chart separated by <strong>;</strong> </div>
    <div>65;59.5;80 Dataset label</div>
    <input type="text" placeholder="Enter data">
    <input type="text" placeholder="Enter dataset label">
    <button>Add</button>
  </div>

  <button>Apply</button>
</div>

<hr>
<div class="exampleChart" style="display: block;">
  <h3>Example chart</h3>
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>

<div>
  <h3>Generated chart</h3>
  <app-generated-chart [chartType]="chosenChartType"></app-generated-chart>
</div>